{% extends "basenavbar.html" %}
{% load staticfiles %}
{% block content %}

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Rapid Python Programming</h1>
	<img src="/static/bookcoverpic.png" style="float:left;margin:0 10px 15px ;">
        <p>This book can bring you one step closer to rapidly learning the worlds most popular programming language. 
	This book quickly builds from beginner to intermediate, and introduce a few advanced topics</p>
	<p> - Create Web Applications</p>
	<p> - GUI creation using Tkinter and WxWidgets</p>	
	<p> - Network programming</p>
	<p> - Game programming with Pygame</p>	
	<p> - Stock Market Analysis</p>	
	<p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div>



{% endblock %}
