{% extends "baseblog.html" %}

{% block content %}
    <div class="main">

        <!-- Posts  -->
        <ul>
            {% for post in posts.object_list %}
                <div class="title"><h4>{{ post.title }}</h4></div>
                <ul>
                    <div class="time"><b>Author: </b><u>{{ post.author}}</u></div>
                    <div class="time">{{ post.created }}</div>
                    <div class="body"><br></div>
                    <div class="body">{{ post.body|linebreaks }}</div>
                </ul>
            {% endfor %}
        </ul>

        <!-- Next/Prev page links  -->
        {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: 0px; ">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}

                <span class="current"> 
                    <p>&nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>
<p><a href="{%  url 'blog.views.main' %}">Back to Blog Frontpage</a>

{% endblock %}

